.header {
  background-image: url("../../assets/image_00.jpg");
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
