.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-image: url("../../assets/image_00.jpg");
  background-position: center;
  background-color: rgba(0, 0, 0, 0.634);
  background-blend-mode: hue;
  height: 50vh;
  justify-content: center;
  align-items: center;

  img {
    width: 72px;
  }
}
