.form {
  max-width: 500px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Nanum Gothic", sans-serif;

  label {
    font-family: "Nanum Gothic", sans-serif;
  }

  input,
  textarea {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 2px solid #ccc;
    background: none;
  }
}

.error {
  color: red;
  font-size: 0.85rem;
}

.success {
  color: green;
  font-weight: bold;
}
