@import url("https://fonts.googleapis.com/css2?family=Zen+Loop:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nanum Gothic", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Zen Loop", cursive;
  color: white;
}

#root {
  text-align: center;
}
